body {
    font-family: georgia;
    margin: 0;
    padding: 0;
}

header, #fale-conosco {
    background: linear-gradient(to right, #8c3454, #d45434);
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 2px;
}

header button {
    background-color: #8c3454; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#faq, #preencha-dados, #acompanhar-resolucao, #dados-tickets, #comentarios {
    background-color: #FDFDFD;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 80px;
    flex-direction: column;
    align-items: center;
}

#dados-tickets, #comentarios {
    padding: 20px;
    background-color: #FDFDFD;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.1);
    flex-direction: column;
    align-items: center;
}

#dados-tickets button, #comentarios button {
    background-color: #8c3454;
    color: #FDFDFD;
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

#fale-conosco, #acompanhar-resolucao {
    flex-direction: column;
}

#fale-conosco h1 {
    font-size: 2em;
    color: #fff; 
    text-align: center;
    margin: 10px 0; 
}

#fale-conosco button {
    background-color: #8c3454;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; 
}

#faq h1, #dados-tickets h1, #comentarios h2 {
    font-size: 1.6em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#h2 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#faq h2 {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

.faq-item p {
    font-size: 0.8em;
    color: #777;
    line-height: 1.6;
    margin-top: 10px;
}

.faq-items-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.faq-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; 
    flex: 1; 
    max-width: calc(50% - 20px);
}

#preencha-dados h1, #acompanhar-resolucao h1 {
    font-size: 1.6em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#preencha-dados form label, #acompanhar-resolucao form label {
    font-size: 0.8em;
    color: #333;
    margin-bottom: 10px;
}

#preencha-dados form, #acompanhar-resolucao form {
    margin: 20px 0; 
}

#preencha-dados form input[type="text"],
#preencha-dados form input[type="number"],
#preencha-dados form textarea,
#acompanhar-resolucao form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}

#preencha-dados form input[type="file"] {
    transform: scale(0.8);
    margin-left: -30px;
}

#preencha-dados form button, #acompanhar-resolucao form button [type="button"], #commentForm button[type="submit"] {
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 4px;
    display: block;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
    background-color: #CF5235;
    color: white;
}

#acompanhar-resolucao .busca-box {
    margin-bottom: 20px;
}

#acompanhar-resolucao .busca-box label {
    margin-right: 10px;
}

#acompanhar-resolucao .busca-box input[type="text"] {
    width: 300px;
}

#acompanhar-resolucao .busca-box button {
    background-color: #8c3454;
    color: #fff;
    padding: 6px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#acompanhar-resolucao, #info-atendimento {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#acompanhar-resolucao h2, #info-atendimento h2 {
    font-size: 1em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

#acompanhar-resolucao p, #info-atendimento p {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.login-container {
    max-width: 200px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-container input {
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.login-container button {
    width: 98%;
    padding: 10px;
    background-color: #d45434;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #cf401c;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}
